
body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: seagreen;
    font-family: 'Arial', sans-serif;
}

.page-container {
    margin: 0 auto;
    padding-top: 50px;

    box-sizing: border-box;

    max-width: 800px;
    width: 100%;
}

.main-title {
    margin-bottom: 50px;

    text-align: center;

    color: #ffffff;

    font-size: 3rem;
    font-weight: bold;
}

.controls {
    margin-bottom: 50px;

    width: 100%;
    height: 50px;
    display: flex;

    justify-content: center;
}

.tasks-input {
    padding: 0 20px;

    flex-grow: 1;

    background-color: #ffffff;
    color: #555555;

    border: none;
    outline: none;

    font-size: 16px;
}

.create-btn {
    padding: 0 30px;

    background-color: #eeeeee;
    color: #000000;

    border: none;

    cursor: pointer;
    font-size: 16px;

    transition: background 0.2s;
}

.create-btn:hover {
    filter: brightness(90%);
}

.clear-btn {
    padding: 0 30px;

    background-color: #bb0000;
    color: #000000;

    border: none;

    cursor: pointer;
    font-size: 16px;

    transition: background 0.2s;
}

.clear-btn:hover {
    filter: brightness(90%);
}

.tasks-list {
    margin: 0 auto;

    width: 70%;

    display: flex;
    flex-direction: column;
}

.task-item {
    margin-bottom: 0;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #eeeeee;

    transition: all 0.2s;
}

.task-item:hover {
    filter: brightness(90%);
}

.task-item p {
    margin: 0;
    padding-left: 15px;

    flex-grow: 1;

    color: #333333;

    font-size: 18px;
}

.task-item i {
    cursor: pointer;
    font-size: 1.2rem;
}


.fa-check {
    color: transparent;
}

.task-item.done {
    background-color: #808080;
}

.task-item.done p {
    text-decoration: line-through;
    color: white;
}

.task-item.done .fa-check {
    color: white;
}

.task-item.done .fa-xmark {
    color: white;
}
