.content {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 1.5rem;
}

.text {
  margin-bottom: 1.5rem;
  color: $color-sub-text;
}

.textPart {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.img {
  border-radius: 8px;
}
