@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$color-acient: #ff6b6b;
$color-text: #313131;

$color-background: #ffffff;
$font-main: "Inter", sans-serif;

$padding-global: 1.5rem 6rem;
