$color-acient: #ff6b6b;
$color-text: #313131;
$color-sub-text: #646464;

$color-background: #ffffff;
$color-background-alt: #f5f5f5;
$font-main: "Inter", sans-serif;

$padding-global: 1.5rem 16rem;

$padding-section: 3rem 16rem;
$margin-section-bottom: 0rem;
