.card {
  display: flex;
  flex-direction: column;

  max-width: 25%;
  width: 100%;

  background-color: $color-background;

  border-radius: 8px;

  box-shadow: 0 4px 8px #00000033;

  overflow: hidden;
}

.image {
  display: block;

  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}
