

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1.5rem 6rem;
}

.logo {
  font-size: 20px;
  font-weight: 700;

  text-decoration: none;

  & .logoLeft {
    color: #FF6B6B;
  }
  & .logoRight {
    color: #313131;
  }
}

.navigation {
  display: flex;
  flex-direction: row;

  font-size: 16px;
  font-weight: 500;

  gap: 2rem;

  color: #313131;

  & .navigationLink {
    color: #313131;
    text-decoration: none;
  }
}
